{% extends 'base.html.twig' %}

{% block title %}Connectez-vous!{% endblock %}

{% block body %}
<div class="d-flex justify-content-evenly border">
    <img src="{{asset ('images/time-for-change-pexels-alexas-fotos-2277784.jpg')}}" alt=""  class="rounded-3 mt-5 col-3"  style="height : 500px ; width : 40%">
    <div class="mt-4">
        <div class=" mt-5 d-flex border border-dark">
            <label class="m-3">Votre nom : </label>
            <p class="m-3">{{ all.name|upper}}</p>
            {# <button class=" m-3 btn btn btn-outline-success btn-sm"> Modifier</button> #}
        </div>
        <div class="mt-5 d-flex border border-dark">
            <label class="m-3">Votre prénom : </label>
            <p class="m-3">{{ all.firstname}}</p>
            {# <button class=" m-3 btn btn btn-outline-success btn-sm"> Modifier</button> #}
        </div>
        <div class="mt-5 d-flex border border-dark">
            <label class="m-3">Votre email : </label>
            <p class="m-3">{{ all.email}}</p>
        </div>
       
        <div class="mt-4  d-flex justify-content-end">
            <a  href=""class=" btn btn btn-outline-dark btn-sm"> Modifier</a>
        </div>
    </div>
</div>





{% endblock %}
{% block footer %}
    {# Footer  #}
    <footer class="fixed-bottom">
    <article id="icon">
      <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
    </article>
    <article>
      <p id="copyright"> Copyright © 2021 | La Maison de Laine | Mentions Légales </p>
    </article>
    </footer>
    {# END Footer  #}
{% endblock %}