<h1>Bonjour! Veuillez confirmez votre email adresse</h1>

<p>
    Veuillez confirmez votre email addresse en cliquant sur le lien suivant : <br><br>
    <a href="{{signedUrl}}">Confirmer mon email</a>.
    Le lien va expiré dans  {{expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')}}.
</p>

<p>
    Cordialement !
</p>
