{% extends 'base.html.twig' %}

{% block title %}Paiement refusé | La Maison de Laine{% endblock %}

{% block body %}
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mt-5 text-center mx-3">Votre session a expiré</h1>
        <a href="{{path ('app_home')}}" class="btn btn-sm btn-light my-5">Home</a>
  </div>
{% endblock %}

{% block footer %}
  <div class="container-fluid p-0 m-0 col-12">
    <footer class="col-12 p-0">
      <article id="icon">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
      </article>
      <article class="mb-3 d-flex">
        <a class="text-center m-2" href="#" id="copyright">Copyright © 2021</a><span class="pipe mt-4">|</span> 
        <a  class="text-center m-2" id="copyright" href="#">La Maison de Laine</a><span class="pipe mt-4">|</span> 
        <a class="text-center m-2" href="{{path ('mentions_legales')}}" id="copyright">Mentions Légales</a> <span class="pipe mt-4">|</span>
        <a class="text-center m-2" href="{{path ('ccv')}}" id="copyright">CCV</a>  
      </article>
    </footer>
  </div>
    {% endblock %}