{% extends 'base.html.twig' %}

{% block title %}Paiement refusé{% endblock %}

{% block body %}
        <h4 class="mt-5 mx-3 text-start">Adresse de facturation</h4>

      
{% endblock %}
{% block footer %}
  <footer class="fixed-bottom">
      <article id="icon">
        <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      </article>
      <article>
        <p id="copyright"> Copyright © 2021 | La Maison de Laine | Mentions Légales </p>
      </article >
  </footer>
{% endblock %}
