{% extends 'base.html.twig' %}
{% form_theme status 'bootstrap_5_layout.html.twig' %}

{% block title %}Modification du status | La Maison de Laine{% endblock %}

{% block body %}
    <div  class="mt-1"> 
        <h1 class="text-center mt-4">Modifier le status</h1>
        {{ form_start(status)}}
            {{form_row(status)}}
        {{ form_end(status)}} 
    </div>
{% endblock %}

