{% extends 'base.html.twig' %}

{% block title %}Admin - Gestion des stocks | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
 <div class="my-5 d-flex flex-wrap justify-content-around">
  <div class="col-12 col-md-6 col-lg-5 col-xl-3 col-xxl-3 my-4">
    <div class="card mx-2 card-hover">
      <div class="card-body align-items-center justify-content-center d-flex flex-column">
        <h5 class="card-title mb-4">Articles</h5>
        <a href="{{path("articles_options")}}" class="btn btn-primary" style="width: auto!important"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-5 col-xl-3 col-xxl-3 my-4">
    <div class="card mx-2 card-hover">
      <div class="card-body align-items-center justify-content-center d-flex flex-column">
        <h5 class="card-title mb-4">Catégories</h5>
        <a href="{{path ("categories_options")}}" class="btn btn-primary" style="width: auto!important"><i class="fas fa-pause"></i></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-5 col-xl-3 col-xxl-3 my-4">
    <div class="card mx-2 card-hover">
      <div class="card-body align-items-center justify-content-center d-flex flex-column">
        <h5 class="card-title mb-4">Type de catégories</h5>
        <a href="{{path ("type_categories_options")}}" class="btn btn-primary" style="width: auto!important"><i class="fas fa-thumbs-up"></i></a>
      </div>
    </div>
  </div>
  
</div>
<div class="d-flex justify-content-center">
    <a href="{{path ('admin_admin')}}" class="btn btn-sm btn-light my-5">Admin</a>
</div>
{% endblock %}