{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe | La Maison de Laine{% endblock %}

{% block body %}
    <p class="mt-5">
        Si un compte correspond à votre email, alors un email a été envoyé contenant un lien que vous pouvez utilisé pour réinitialiser votre mot de passe.
        Ce lien exprire dans {{resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}}.
    </p>
    <p class="mt-5">Si vous n'avez pas reçu d'email, veuillez vérifier vos spam ou <a href="{{ path('app_forgot_password_request')}}">réessayer</a>.</p>
{% endblock %}