{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe | La Maison de Laine{% endblock %}

{% block body %}
    <p class="mt-5">
        Si un compte correspond à votre email, alors un email a été envoyé contenant un lien que vous pouvez utilisé pour réinitialiser votre mot de passe.
        Ce lien exprire dans {{resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}}.
    </p>
    <p class="mt-5">Si vous n'avez pas reçu d'email, veuillez vérifier vos spam ou <a href="{{ path('app_forgot_password_request')}}">réessayer</a>.</p>
{% endblock %}
{% block footer %}
  <div class="container-fluid p-0 m-0 col-12">
    <footer class="col-12 p-0">
      <article id="icon">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
      </article>
      <article class="mb-3 d-flex">
        <a class="text-center m-2" href="#" id="copyright">Copyright © 2021</a><span class="pipe mt-4">|</span> 
        <a  class="text-center m-2" id="copyright" href="#">La Maison de Laine</a><span class="pipe mt-4">|</span> 
        <a class="text-center m-2" href="{{path ('mentions_legales')}}" id="copyright">Mentions Légales</a> <span class="pipe mt-4">|</span>
        <a class="text-center m-2" href="{{path ('ccv')}}" id="copyright">CCV</a>  
      </article>
    </footer>
  </div>
{% endblock %}
