{% extends 'base.html.twig' %}
{% form_theme resetForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Réinitialiser votre mot de passe | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
    <div style ="width: 70%" class="d-flex justify-content-center flex-column">
        <h1 class="my-5">Réinitialiser votre mot de passe</h1>
        <div >
            {{form_start(resetForm)}}
                {{form_row(resetForm.plainPassword)}}
                <div class="d-flex justify-content-end">
                    <button class="btn btn-light" style="width: auto !important">Réinitialiser</button>
                </div>
            {{form_end(resetForm)}}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {# Footer  #}
    <footer class="fixed-bottom">
        <article id="icon">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
        </article>
        <article class="mb-3">
            <a  href="#"  id="copyright"> Copyright © 2021 </a> <span class="pipe"> |</span> 
            <a  id="copyright" href="#"> La Maison de Laine</a>  <span class="pipe"> |</span> 
            <a href="{{path ('mentions_legales')}}"  id="copyright"> Mentions Légales</a>  
        </article>
    </footer>
    {# END Footer  #}
{% endblock %}
