{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
{% endblock %}
