* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato';
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container{
  flex-grow: 1;
}

.form-group{
  margin-bottom: 1rem;
}

/* Les Fonctionnalités */
.nav-item {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fas {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
  color: rgba(174,64,233,1);
  opacity: 0.7;
}

h5{
  display: block;
  text-align: center;
  color: rgba(174,64,233,1);
}

::placeholder{
  color: #000000;
  font-weight: bolder;
}  

.fas {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}
.navbar-nav {
  margin-right: 30px;
}

.navbar {
  border: 1px solid transparent;
  border-top: transparent;
  border-left: transparent;
  border-right : transparent;
  border-image: linear-gradient( 90deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%);
  -webkit-border-image: -webkit-linear-gradient( 25deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%, );
  border-image-slice: 1;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  flex-direction: column;
}

.footer{
  position: absolute;
  bottom: 0;
}
#icon {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  height: 50px;
  width: 200px;
}
.fab {
  padding-top: 10px;
  height: 100%;
  color: white;
  transition: all 0.4s;
}

.fab:hover{
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.05);
}

#copyright {
  font-weight: bold;
  padding-top: 15px;
  color: white;
}

.pipe{
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
  /* End Footer */

.nav-item:hover a{
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.face{
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient( 90deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%);
  -webkit-border-image: -webkit-linear-gradient( 90deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%);
  border-image-slice: 1;
}

.btn{
  font-family: Pacifico, lato ;
  font-size: 20px;
  width: 7rem !important;
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   border: 1px solid transparent;
  border-image: linear-gradient( 90deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%);
  -webkit-border-image: -webkit-linear-gradient( 90deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%);
  border-image-slice: 1;
}

.btn:hover{
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%)  !important;
  -webkit-background-clip : text ;
  -webkit-text-fill-color: white;
  transform: scale(1.05);
  transition: all 0.4s;
}

label{
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

/* Logo */
#logo 
{
  width: 150px;
  height: 150px;
}
/* end Logo */

p{
  font-weight: bolder;
  font-size: 18px;
}
h1{
  font-family: pacifico ;
}

.card-hover{
  transition: all 0.4s;
}
.card-hover:hover{
  transform: scale(1.05);
  box-shadow:5px 5px 15px 5px #7373736b;
}

.picto{
  background : -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#projet{
  color: red;
}