/* --------------------------Start Form Contact -------------------------- */
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* -------------------------- start first div -------------------------- */
.input-nom,
.input-prenom,
.input-email,
.input-sujet,
.input-message{
  background: white;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #7373736b;
}
/* -------------------------- end first div -------------------------- */

/* -------------------------- start div form_row -------------------------- */

.input-nom div,
.input-prenom div,
.input-email div,
.input-sujet div,
.input-message div{
  flex:1 ;
  height : 100% !important;
  outline: none !important;
}

div.innactive{
  opacity: 0;
  pointer-events: none;
}

div.active{
  opacity: 1;
  pointer-events: all;
}

.champs{
}

.positionAbsolue{
  position: absolute;
}

.positionRelative{
  position: relative;
  width: 95%;
}

small{
  font-size: 10px !important;
  margin-left: -15%;
  margin-top: 5px;
}

/* -------------------------- end div form_row -------------------------- */

/* -------------------------- start input -------------------------- */
.input-nom input,
.input-prenom input,
.input-email input,
.input-sujet input,
.input-message textarea{
  margin-top: -1rem !important;
  border: none;
  flex: 1 !important;
  height: 100% !important;
}

::placeholder{
  background: -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
/* -------------------------- end input -------------------------- */


/* -------------------------- start icon -------------------------- */
.input-nom i,
.input-prenom i,
.input-email i,
.input-sujet i,
.input-message i{
  padding: 1rem;
  background: -webkit-linear-gradient(90deg,  rgba(174,64,233,1) 0%, rgba(105,133,243,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
}

.fa-arrow-down{
  cursor: pointer;
}
/* -------------------------- end icon -------------------------- */


/* -------------------------- start btn -------------------------- */
.visibility{
  visibility: hidden;
}
/* -------------------------- end btn -------------------------- */


/* --------------------------start animation -------------------------- */
@keyframes shake{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
/* --------------------------End animation -------------------------- */

/* --------------------------End Form Contact -------------------------- */