/* PAGE CONTACT
#faq_cta {
  /* border: 2px solid turquoise; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column;
} */ 

/* #title_faq {
  margin-top :5%; */
/* } */

/* #container_faq { */
  /* border: 8px solid turquoise; */
  /* height: 300px;
  display: flex;
  justify-content: center;
  width: 50%;
} */

/* #box_faq{ */
  /* border: 2px solid rgb(224, 64, 157); */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
} */

/* .faq{ */
  /* border: 2px solid rgb(224, 64, 157); */
  /* width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000000;
} */

/* .faq a{
  display: flex;
  align-items: center;
  padding: 1%;
}

a:hover{
  color: #7A0B0B;
} */

/* Call to Action */



/* #container_contact { */
  /* border: 4px solid rgb(148, 41, 22); */
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 500px;
  margin: 5%;
} */

/* #img_calltoaction > img {
  border-radius: 30px;
  box-shadow: 5px 5px 5px #000000;
  margin: 3%;
} */

/* #call_to_action { */
  /* border: 4px solid red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
} */

/* .text_container { */
  /* border: solid; */
  /* text-align: center;
  width: 50%;
} */

/* #formulaire_calltoaction { */
  /* border: solid springgreen; */
  /* height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around; */
  /* flex-wrap: wrap; */
/* } */

/* #face {
  display: flex;
  justify-content: space-between; 
  width: 100%; */
  /* border: solid rgb(200, 154, 25); */

/* } */

/* .form_calltoaction {
  width: 45%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000000;
} */
/* .formlg_calltoaction { */
  /* border: solid rgb(200, 154, 25); */
  /* border-radius: 5px;
  width: 100%;
  margin-top: 1%;
  box-shadow: 5px 5px 5px #000000;
} */

/* textarea {
  height: 30%;
} */

/* .containerSubmit {
  /* border: solid rgb(2, 19, 24); */
  /* display: flex; */
  /* justify-content: space-between;
  width: 80%;
} */ 

/* #btn_checkbox {
  box-shadow: 5px 5px 5px #000000;
  margin-top: 1%;
} */

/* #submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid rgb(0, 204, 255); */
  /* font-family: "Sweet, Helvetica, Arial, sans-serif"; */
/* }  */
/* #text_checkbox { */
  /* border: solid rgb(0, 204, 255); */
  /* margin-top: -8px; */
  /* font-size: 15px; */
/* } */
/* .submit_calltoaction {
  width: 40%;
  border-radius: 5px;
  margin-left: 25%;
  background-color: rgb(231, 210, 203);
  box-shadow: 5px 5px 5px #000000;
} */
/* input::placeholder,
textarea::placeholder { */
  /* color: red; */
  /* padding-left: 3px;
  padding-top: 3px; */

  /* width: 4px; */
  /* border:4px solid rgb(255, 208, 0); */
/* } */


/* les boutons de la page  */
/* #btn-option-trad{
  width: 150px;
  margin-top: 3%;
  border-radius: 30px;
  border-color:#000000;
  color:#000000 ;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 3px;
  font-family: inherit !important;
  transition: all 0.4s;
  padding: 1%;
} */
/* #btn-option-trad:hover{
  box-shadow: 1px 1px 15px 1px #7A0B0B ;
  color:#7A0B0B ;
  
} */

/* End Call to Action */

/* END PAGE CONTACT */


/* End Footer */
/* body {
  background-color: rgb(202, 176, 167);
} */
/* Navigation Bar */

/* .navbar {
  border: 9px solid rgb(163, 18, 18);
  border: 4px solid rgb(45, 170, 170);
 
  border-bottom-color: #ed4b00;
  background-color: wheat;
}
.container-fluid {
  border: 4px solid rgb(45, 170, 170);
}
 .navbar-brand {
  border: 4px solid rgb(192, 44, 44);
}  */

/*#myNavbar {
  border: 9px solid teal;
  display: inline;
} */




