
/* Vignette */
#vignette {
  /* border: 2px  solid steelblue; */
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#container_box_vignette_mercerie {
  /* border: 8px solid rgb(180, 70, 134); */
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* border: 8px solid rgb(180, 70, 134); */

}

.box_vignette_mercerie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 400px;
  border-radius: 10px;
  font-family: "Sweet, Helvetica, Arial, sans-serif";

}

#box_vignette_laine {
  /* border: 2px solid rgb(0, 140, 255); */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 57%;
  height: 100%;
  border-radius: 10px;
  font-family: "Sweet, Helvetica, Arial, sans-serif";
  background-image: url(../images/laine-pexels-vlada-karpovich-5602984.jpg);
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
} 

#box_vignette_tricot{
  /* border: 2px solid rgb(0, 140, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 57%;
  height: 100%;
  border-radius: 10px;
  font-family: "Sweet, Helvetica, Arial, sans-serif";
  background-image: url(../images/tricot-pexels-anete-lusina-4792062.jpg);
  /* object-fit: cover; */
  background-size: contain;
  background-repeat: no-repeat;
}
#box_vignette_broderie{
    /* border: 2px solid rgb(0, 140, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 57%;
    height: 100%;
    border-radius: 10px;
    font-family: "Sweet, Helvetica, Arial, sans-serif";
    background-image: url(../images/broderie-pexels-cottonbro-3838689.jpg);
    /* object-fit: cover; */
    background-size: contain;
    background-repeat: no-repeat;
}

#box_vignette_prod_mercerie{
    /* border: 2px solid rgb(0, 140, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 57%;
    height: 100%;
    border-radius: 10px;
    font-family: "Sweet, Helvetica, Arial, sans-serif";
    background-image: url(../images/fil-pexels-pavel-danilyuk-6461136.jpg);
    /* object-fit: cover; */
    background-size: contain;
    background-repeat: no-repeat;

}

.box_vignette img{
  height: 300px;
  width: 100%;
  border-radius: 5px;

}
/* End Vignette */

/* Option */
#option_tenues_trad {
  /* border: 3px solid tomato; */
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #73737341;

}

.intro_option {
  /* border: 3px solid red; */
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7px;
}

#container_boxoption {
  /* border: 4px solid violet; */
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .box_option { 
   border: 2px solid rgb(130, 238, 171); 
  width: 100%;
  height: 500px; 
  background-color: rosybrown; 
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
}  */
#box_option_indienne{
  /* border: 2px solid rgb(130, 238, 171);  */
  width: 65%;
  height: 500px;
  background-image: url(../images/indienne-pexels-barathan-amuthan-2723623.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;

}
#box_option_wax{
  /* border: 2px solid rgb(132, 130, 238);  */
  width: 65%;
  height: 500px;
  background-image: url(../images/wax-pexels-jackson-david-2866972.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;

}

#box_option_kimono{
  width: 65%;
  height: 500px;
  background-image: url(../images/kimono-pexels-yaroslav-shuraev-8516190.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;

}

.box_option > img{
  width: 100%;
  height: 500px;
  border-radius: 5px;

}



.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid rgb(130, 146, 238); */
  font-family: "Sweet, Helvetica, Arial, sans-serif";
  width: 30%;
}


/* End Option */

/* Call to Action */
#container_contact {
  /* border: 4px solid red; */
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
#call_to_action {
  /* border:3px solid tomato; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulaire_calltoaction {
  /* border: solid springgreen; */
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.face {
  display: flex;
  justify-content: space-between;
  /* border: solid rgb(200, 154, 25); */
}

.form_calltoaction {
  width: 45%;
  border-radius: 5px;
}

.formlg_calltoaction {
  /* border: solid rgb(200, 154, 25); */
  border-radius: 5px;
  width: 100%;
  margin-top: 1%;
}

textarea {
  height: 30%;
}

.containerSubmit {
  /* border: solid rgb(2, 19, 24); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

#submit {
  /* border: solid rgb(20, 139, 175); */
  display: flex;
  flex-direction: column;
  font-family: "Sweet, Helvetica, Arial, sans-serif";
  justify-content: center;
  align-items: center;
  margin-right: 65px;
}
#text_checkbox {
  /* border: solid rgb(0, 204, 255); */
  margin-top: -8px;
  font-size: 15px;
}

input::placeholder,
textarea::placeholder {
  /* color: red; */
  padding-left: 3px;
  padding-top: 3px;
  /* width: 4px; */
  /* border:4px solid rgb(255, 208, 0); */
}


/* .fa-home {
    margin-left: 40px;
    color: rgb(78, 78, 78);
    font-size: 25px;
  }
  
  .fa-address-card {
    margin-left: 65px;
    color: rgb(78, 78, 78);
    font-size: 25px;
  } */
/* .fa-address-card:hover {
      color:#ed4b00; */

/* .fa-shopping-basket {
    margin-left: 30px;
    color: rgb(78, 78, 78);
    font-size: 25px;
  }
  .fa-user {
    margin-left: 38px;
    color: rgb(78, 78, 78);
    font-size: 25px;
  } */
/* .nav-link {
    color: black;
    font-size: 17px;
  } */

/* .nav-link:hover{
      color: #ed4b00;
  
  }
  
  .fas:hover{
      color: #ed4b00 ;
  } */

  /* body {
  border: 10px solid red;
} */

/* Navigation Bar */

/* .navbar {
  border: 9px solid rgb(163, 18, 18);
  border: 4px solid rgb(45, 170, 170);
 
  border-bottom-color: #ed4b00;
  background-color: wheat;
}
.container-fluid {
  border: 4px solid rgb(45, 170, 170);
}
 .navbar-brand {
  border: 4px solid rgb(192, 44, 44);
}  */

/*#myNavbar {
  border: 9px solid teal;
  display: inline;
} */
/* .submit_calltoaction {
  width: 40%;
  border-radius: 5px;
  margin-left: 25%;
  background-color: #cc518057;
  border: 1px solid #cc518057;
  box-shadow: 1px 1px 1px #cc5180;
} */

/* #container_titleoption {
  background-color: blue;
  border: 12px solid yellow;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
} */

/* .my-link:hover a,
.my-link:hover i {
  color: #ed4b00;
} */
/* #btn-func{
  border: blue 3px solid;
  width:0% ;
  width: 40%;
  display: flex;
  justify-content: space-around;
} 
/* .d-block{
  border: rgb(255, 145, 0) 3px solid;

} */
/* span.my-toggler {
  background-color: violet;
color: #ed4b00;
border-color: teal;
 background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: ;
}  */
/* .carousel-inner {
  height: 400px; 
  border: 4px solid rgb(145, 17, 70);
} */
/* .carousel-item {
  border: 4px solid rgb(17, 145, 60);
} */


/* carrousel */
/* #myCarousel {
  margin-top: 2%; */
  /* border: 4px solid turquoise; */
/* } */
/* .carousel-item { */
  /* margin-top: 15rem; */
  /* height: 25rem;
  background: #f7ece7;
  position: relative;
} */

/* .container {
  position: absolute;
} */

/* .carousel {
  transition: 0.1s ease;
} */
/* End Carrousel */