.livraison_box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    /* width: 100%; */
    border: 1px solid transparent;
 
  border-image: linear-gradient( 90deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%);
  -webkit-border-image: -webkit-linear-gradient( 25deg, rgba(105,133,243,1) 0%, rgba(174,64,233,1) 100%, );
  border-image-slice: 1;

}