#plus{
  width : 2rem !important;
  font-family: lato;

  font-weight: 1000;

}

#minus{
  width : 2rem !important;
  font-family: lato;
  font-weight: 1000;

}
#del{
  width : 2rem !important;
  font-family: lato;
  font-weight: 1000;

}

#cart_empty{
  width : auto !important;
}

#cart_valid{
  width : auto !important;
}

#prix{
  font-weight: bolder;
  font-size: large;

}

#tot{
  font-weight: bolder;
  font-size: large;
}

.transparent{
  border: none;
}