/* --------------------------Start btn ajouter article -------------------------- */
.option{
  width: 2rem !important;
  font-family: lato;
  font-weight: 1000;
}
/* --------------------------End btn ajouter article -------------------------- */


/* --------------------------Start btn vider le panier -------------------------- */
.larger{
  width: auto !important;
}
/* --------------------------End btn vider le panier -------------------------- */


/* --------------------------Start Total price -------------------------- */
.bolder{
  font-weight: bolder !important;
  font-size: large !important;
}
/* --------------------------End Total price -------------------------- */