{% extends 'base.html.twig' %}

{% block title %} Panier Expiré | La Maison de Laine {% endblock %}

{% block body %}
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mt-5 text-center mx-3">Votre panier a expiré</h1>
    <a href="{{path ('app_home')}}" class="btn btn-sm btn-light my-5">Home</a>
  </div>
{% endblock %}