{% extends 'base.html.twig' %}
{% form_theme typeCategoriesModifier 'bootstrap_5_layout.html.twig' %}

{% block title %}Ajouter type de catégorie | La Maison de Laine | Rubanerie | Tricot | Laine | Mercerie | Saree | Wax | Kimono{% endblock %}

{% block body %}
    <div  class="mt-1 "> 
        <h1 class="text-center mt-4">Ajouter un type de catégorie</h1>
        {{ form_start(typeCategoriesModifier) }}
            {{ form_row(typeCategoriesModifier.nom) }}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn border-dark">Modifier</button>
            </div>
        {{ form_end(typeCategoriesModifier)}}
    </div>
{% endblock %}
{% block footer %}
    <footer class="fixed-bottom">
    <article id="icon">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
        </article>
        <article class="mb-3">
            <a  href="#"  id="copyright"> Copyright © 2021 </a> <span class="pipe"> |</span> 
            <a  id="copyright" href="#"> La Maison de Laine</a>  <span class="pipe"> |</span> 
            <a href="{{path ('mentions_legales')}}"  id="copyright"> Mentions Légales</a>  
        </article>
    </footer>
{% endblock %}

