<h1>Mail de prise de contact ! </h1>

Bonjour, <br><br>

Ce contact vous a envoyé un message : <br>
Son email : {{contact.email}}<br>
Le sujet : {{ contact.sujet}}<br>
Le message : {{contact.message}}<br><br>

<a href="{{ url('app_home')}}">Retrouvez nous sur notre site ! </a>