{% extends "base.html.twig" %}

{% block title %}Internal Server error{% endblock %}

{% block css %} <link rel="stylesheet" href="{{asset ('../css/error500.css ')}}" /> {% endblock %} 

{% block body %}
<p class="info fs-5">Internal Server error.</p>
<div class="d-flex justify-content-center">
   <h1 class="internal col-xxl-12 col-xl-12 col-md-9 col-6">
      <span>5</span>
      <span class="zero">0</span>
      <span class="zero">0</span>
   </h1>
</div>
{% endblock %}